@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	
	overflow-y: auto;
	background-image: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

h1 {
	color: #ffffff;
	text-shadow: 2px 2px 4px #000;
	text-align: center;
	margin-top: 8px;
}

.container {
	/* width: 100%; */
	max-width: 650px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

input {
	font-size: 14px;
}

input::placeholder {
	color: #c1c1c1;
	font-weight: 600;
}

.todo-form {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 16px;
}

.todo-form input {
	flex: 1;
	padding: 12px 10px;
	border: 1px solid #d1d1d1;
	outline: none;
	border-right: none;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
}

#input-el:focus {
	
}

.todo-form button {
	padding: 4px 8px;
	background-color: #4b6cb7;
	color: #fff;
	font-weight: 600;
	border: none;
	cursor: pointer;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	outline: none;
	box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
	transition: transform 0.2s ease, background-color 0.1s ease-in;
}

#add-btn:hover {
	background-color: #3d5999;
}

#add-btn:active {
	transform: scale(0.9);
}

ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 8px;
}

li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
	color: #fff;
	padding: 4px 2px;
	border-bottom: 1px solid #4b6cb7;
}

li input[type="text"] {
	flex: 0.8;
	border: none;
	outline: none;
	padding-left: 2px;
	background: transparent;
	color: #fff;
}

li button {
	border: none;
	background-color: transparent;
	color: #d1d1d1;
	cursor: pointer;
	font-size: 17px;
}

#update-btn {
	margin-right: 6px;
}

#update-btn:hover {
	color: #4b6cb7;
}

#delete-btn:hover {
	color: #c90303;
}

#save-todo-btn {
	margin-right: 8px;
}

#save-todo-btn:hover {
	color: #4b6cb7;
}