* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	overflow-y: auto;
}

h2 {
	text-align: center;
	margin-top: 8px;
}

.container {
	/* width: 100%; */
	max-width: 650px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

input {
	font-size: 14px;
}

input::placeholder {
	color: #c1c1c1;
	font-weight: 600;
}

.todo-form {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 16px;
}

.todo-form input {
	flex: 1;
	padding: 12px 10px;
	border: 1px solid #d1d1d1;
	outline: none;
	border-right: none;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#input-el:focus {
	border: 1px solid #6c63ff;
}

.todo-form button {
	padding: 4px 8px;
	background-color: #6c63ff;
	color: #fff;
	font-weight: 600;
	border: none;
	cursor: pointer;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	outline: none;
}

#add-btn:hover {
	background-color: #5a53d5;
}

ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 8px;
}

li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.76);
	padding:4px 2px;
	border-bottom: 1px solid #6c63ff;
}

li input[type="text"] {
	flex: 0.8;
	border: none;
	outline: none;
	padding-left: 2px;
}

li button {
	border: none;
	background-color: transparent;
	color: #d1d1d1;
	cursor: pointer;
	font-size: 17px;
}

#update-btn {
	color: #6c63ff;
	margin-right: 6px;
}

#delete-btn {
	color: #c90303;
}

#save-todo-btn {
	color: #6c63ff;
	margin-right: 8px;
}
