* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	overflow-y: auto;
}

h1 {
	text-align: center;
	margin-top: 8px;
	text-decoration: underline;
}

.container {
	/* width: 100%; */
	max-width: 650px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.todo-form {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 16px;
}

.todo-form input {
	flex: 1;
	padding: 12px 10px;
	border: 1px solid rgb(181, 181, 181);
	outline: none;
	border-right: none;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	font-size: 1rem;
}

.todo-form button {
	padding: 4px 8px;
	background-color: orangered;
	color: #fff;
	font-weight: 600;
	border: none;
	cursor: pointer;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#add-btn:hover {
	background-color: rgb(230, 66, 6);
}
